.volumeSlider {
  -webkit-appearance: none;
  appearance: none;
  background: #374151;
  cursor: pointer;
  width: 100px;
  height: 3px;
  transform: rotate(-90deg);
  transform-origin: center;
  outline: none;
  border-radius: 2px;
}

.volumeSlider::-webkit-slider-track {
  -webkit-appearance: none;
  background: #374151;
  height: 3px;
  border-radius: 2px;
  border: none;
}

.volumeSlider::-moz-range-track {
  background: #374151;
  height: 3px;
  border-radius: 2px;
  border: none;
}

.volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #111827;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-top: -2px;
  transition: all 0.2s;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.volumeSlider::-moz-range-thumb {
  background: #111827;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: none;
  transition: all 0.2s;
  box-shadow: none;
  cursor: pointer;
}

.volumeSlider:hover::-webkit-slider-thumb {
  background: #1f2937;
  transform: scale(1.1);
}

.volumeSlider:hover::-moz-range-thumb {
  background: #1f2937;
  transform: scale(1.1);
}

.volumeSlider:focus {
  outline: none;
}

.volumeSlider:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px rgba(17, 24, 39, 0.1);
}

.volumeSlider:focus::-moz-range-thumb {
  box-shadow: 0 0 0 3px rgba(17, 24, 39, 0.1);
}